/*
    css 선택자

    요소를 선택하는 3가지 방법
    class : .
    id : #
    tag name : 태그이름


    선택자 {
        스타일 속성을 적용    
    }

*/

p {
    background-color: rgb(255, 231, 231);

    border: 1px solid#111;
    border-radius: 10px;
    padding: 10px;

}

/*
class를 이용해서 요소에 스타일을 적용 
    - class 속성에 값이 입력되면 적용 - 범위 넓음
1. 스타일 정의
2. 요소의 class 속성에 값을 입력
*/

.red{
    color: rgb(26, 73, 201);
}

/* 아이디를 이용해서 요소를 선택 */
#name {
    border-radius: 10px;

}

/*모든 요소*/
* {
    margin: 0px;

}

/* 스타일 우선 순위 
!important > 인라인 > id > class > type
*/

/* 소스 순서에 따라 - 아래에 작성된 스타일이 우선된다 */
p {
    background-color: #fff;
    margin: 10px;
}

h1{
    /*display : block */
    /*display : inline;*/
    margin: 20px;
    background-color: blue;
}